<div class="container-fluid" style="padding-top:50px">
  <div class="row">
    <div class="col-md-7">
      <h1>Listing songs</h1>

      <table class="table">
        <tr>
          <th style="width:10%"></th>
          <th style="width:20%">Songs</th>
          <th style="width:15%">Artist</th>
          <th>Description</th>
          <th style="width: 25%"></th>
        </tr>

        <% @songs.each do |song| %>
          <tr>
            <td><%= image_tag(song.artwork.url(:thumb), style: "width:60px;")%></td>
            <td><%= link_to song.title, song_path(song) %></td>
            <td><%= song.artist %></td>
            <td><%= song.description %></td>
            <td>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-4" style="margin-top:5px;">
                    <% if current_user %>
                      <% if song.likes.find_by(user_id: current_user) %>
                        <%= link_to [song, song.likes.build], method: :post do %>
                          <i class="fa fa-heart" data-toggle="tooltip" title="Unlike this song" style="font-size:20px;color:red;"></i>
                        <% end %>
                      <% else %>
                        <%= link_to [song, song.likes.build], method: :post do%>
                          <i class="fa fa-heart-o" data-toggle="tooltip" title="Like this song" style="font-size:20px;color:black;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-xs-4" style="margin-top:5px;">
                    <p><%= song.likes.count %> <span style="display:inline;">
                        <% if song.likes.count > 1%>
                          likes
                        <% else %>
                          like
                        <% end %>
                      </span> </p>
                  </div>
                  <div class="col-xs-4">
                    <% if current_user && current_user.id == song.user.id %>
                    <div class="dropdown" style="width:100%;">
                      <button class="btn btn-default dropdown-toggle" style="border:none;" type="button" data-toggle="dropdown">
                      <span> <i class="fa fa-bars" data-toggle="tooltip" title="Options"></i> </span></button>
                      <ul class="dropdown-menu">
                        <li>
                              <%= link_to 'Edit', edit_song_path(song) %>
                        </li>
                        <li>
                              <%= link_to 'Destroy', song_path(song),
                                                    method: :delete,
                                                    data: {confirm: 'Are you sure?'} %>

                        </li>
                      </ul>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>

          </td>
          </tr>
          <!-- <tr>
            <td colspan="2">

            </td>
            <td colspan="3"></td>
          </tr> -->
        <% end %>
      </table>
    </div>
    <div class="col-md-3" style="float:right;padding-top:50px">
      <table class="table">
        <tr>
          <th style="width:"></th>
        </tr>
      </table>

    </div>
  </div>
</div>

<%= link_to 'New song', new_song_path %>
