<h1><%= @song.title %> - <%= @song.artist %></h1>
<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<% if current_user %>
  <% if @song.likes.find_by(user_id: current_user) %>
    <%= link_to 'Unlike', [@song, @song.likes.build], method: :post %>
  <% else %>
    <%= link_to 'Like', [@song, @song.likes.build], method: :post %>
  <% end %>
<% end %>

<h2>Comments</h2>
<%= render @song.comments %>

<% if current_user %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>

<% if current_user && current_user.id == @song.user.id %>
  <td><%= link_to 'Edit', edit_song_path(@song) %></td>
<% end %>

<%= link_to 'Back', songs_path %>